---
import '@/styles/global.css';
import '@/assets/fonts/inter.css';
import { type Seo } from '@/lib/constants';
import Head from '@/components/partials/Head.astro';
import SwitchTheme from '@/components/SwitchTheme.tsx';

interface Props {
  seo?: Seo
}

const { seo } = Astro.props;
---

<html lang="en">
  <Head seo={seo} />
  <body class="bg-background text-foreground pb-12">
    <main class="pt-6">
      <slot />
    </main>
    <SwitchTheme client:only="react" />
  </body>
</html>
